.contact-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background: linear-gradient(117deg, #0077b6 22%, rgba(0, 168, 168, 0.66) 78%);
  overflow: hidden; /* Prevent scrolling by default */
  box-sizing: border-box;
}

@media (max-height: 664px) {
  .contact-page {
    height: 800px;
    overflow-y: auto;
  }
}

.contact-container {
  max-width: 500px;
  text-align: center;
  margin: 100px auto;
  padding: 0 1rem;
  width: 100%;
  position: relative;
  z-index: 1;
}

.contact-title {
  text-align: center;
  margin-bottom: 10px;
  color: #222;
  font-size: 36px;
  font-weight: 900;
  font-family: "Inter", sans-serif;

}

/* Contact Form Styles */
.contact-form {
  border: 3px solid #222;
  border-radius: 10px;
  padding: 2rem;
  background-color: rgba(34, 34, 34, 0.3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.form-group {
  margin-bottom: 1.5rem;
}


.gold-input {
  width: 400px;
  padding: 0.75rem;
  border: None;
  border-radius: 5px;
  background-color: #daa520;
  color: #000;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #222;
  font-weight: 700;
}

.gold-input::placeholder {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #222;
  opacity: 0.7;
  font-weight: 700;
}

textarea.gold-input {
  resize: vertical;
  min-height: 150px;
}

.submit-btn {
  background-color: #daa520;
  color: #000;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
  width: 100px;
}

.submit-btn:hover {
  background: linear-gradient(0deg, 
  rgba(0, 0, 0, 0.30) 0%, 
  rgba(0, 0, 0, 0.30) 100%), #DAA520;
}

.submit-btn:active {
  border-radius: 20px;
  background: #222222;
  color: #DAA520;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .contact-container{
    margin-top: 150px;
    width: 400px;
  }

  .contact-form {
    padding: 1.5rem;
  }

  .contact-title {
    font-size: 1.5rem;
  }

  .gold-input {
    width: 300px;
  }
}

@media (max-width: 480px) {

  .contact-container{
    margin-top: 200px;
    width: 300px;
  }
  .contact-form {
    padding: 1rem;
  }

  .gold-input {
    padding: 0.5rem;
    width: 200px;
  }

  .submit-btn {
    width: 80px;
  }
}
